* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

// Variables
$myFont:'Poppins', sans-serif;
// colors
$orange:#f9ab30;
$dark-text: rgba(0, 0, 0, 0.8);
$light-text: #999999;
// Mixins
@mixin p-text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #999999;
    line-height: 1.8;
}
@mixin p-header {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4;
}
@mixin section-pad{
    padding: 112px 0;
}

// container
.container {
    width: 1110px;
    margin: 0 auto;
}
// header
header {
    flex-wrap: wrap;
    transition: 0.3s;
    nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 22;
        height: 0;
        background-color: transparent;
        width: 100%;
        transition: 0.3s;
        .container {
            .media-menu{
                display: none;
            }
            .navigation{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                transition: 0.3s;
                .logo {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    background-color: #33313b;
                    padding: 20px;
                    line-height: 1.2;
                    transition: 0.3s;
                    a {
                        text-transform: capitalize;
                        text-decoration: none;
                        font-family: $myFont;
                        font-weight: 700;
                        font-size: 24px;
                        color: white;
                        
                    }
                    span{
                        font-family: $myFont;
                        font-size: 12px;
                        font-weight: 600;
                        color: white;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                    }
                    ul{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    li{
                        padding-top: 30px;
                        .active {
                            color: $orange;
                        }
                        .odd {
                            background-color: $orange;
                            padding-top: 18px;
                            padding-bottom: 18px;
                            padding: 18px, 13px;
                            border-radius: 2px;
                        }
                        a{
                            text-decoration: none;
                            font-family: $myFont;
                            font-size: 15px;
                            font-weight: 400;
                            padding-left: 20px;
                            padding-right: 20px;
                            color: #fff;
                        }
                        a:hover{
                            color: #33313b;
                            transition: 0.5s;
                        }
                    }
                    }
                    }
            }
        }
    }

    nav.scroll {
        height: 80px;
        position: fixed;
        background-color: #fff;
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.11);
        z-index: 35;
        .container{
            .navigation{
                .logo{
                    padding: 18px;
                }
                .navbar{
                    ul{
                        li{
                            .link{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

.first {
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/ab.webp);
    background-size: cover;
    object-fit: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250, 250, 250, 0.036);
        background-image: linear-gradient(to right, rgba(0, 68, 255, 0.121), rgba(255, 0, 0, 0.127));
        z-index: 1;
    }
    .content {
        .container {
            position: absolute;
            text-align: center;
            left: 120px;
            z-index: 30;
            bottom: 75px;
            h1{
                font-family: $myFont;
                font-weight: 700;
                font-size: 60px;
                color: #fff;
                line-height: 1.2;
            }
            .from{
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    font-family: $myFont;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.8);
                    text-decoration: none;
                }
                span{
                    font-family: $myFont;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
}

// section two about
.two {
    width: 100%;
    background-color: #F9FAFB;
    @include section-pad();
    .container {
        .about{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            #left{
                width: 50%;
                i{
                    font-size: 45px;
                    color: $orange;
                    margin-bottom: 8px;
                }
                h3{
                    font-family: $myFont;
                    font-size: 18px;
                    font-weight: 600;
                    color: rgba(0,0,0,.8);
                    line-height: 1.5;
                    margin-bottom: 16px;
                }
                p{
                    @include p-text();
                    margin-bottom: 16px;
                }
                #uppertext {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .text{
                        width: 45%;
                        margin: 0 15px;
                        margin-bottom: 40px;
                    }
                }
                #bottomtext{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .text{
                        width: 45%;
                        margin: 0 15px;
                    }
                }
            }
            #right {
                width: 45%;
                h2{
                    font-family: $myFont;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 1.4;
                    margin-bottom: 24px;
                }
                p{
                    @include p-text();
                    margin-bottom: 16px;
                }
                .second{
                    margin-bottom: 30px;
                }
                a {
                    font-family: $myFont;
                    font-size: 16px;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                    padding: 16px 24px;
                    background-color: $orange;
                    border-radius: 40px;
                }
            }
        }
    }
}

    // section three
.three {
    width: 100%;
    background-color: white;
    padding-bottom: 112px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
            width: 50%;
            padding: 0 15px;
            img {
                width: 100%;
                height: 550px;
                object-fit: cover;
            }
        }
        .img-text {
            width: 50%;
            padding-left: 50px;
            padding-bottom: 16px;
            h2{
                font-family: $myFont;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.4;
                color: #33313b;
                margin-bottom: 24px;
            }
            p{
                @include p-text();
                margin-bottom: 16px;
            }
            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .number {
                    margin-top: 16px;
                    text-align: center;
                    padding: 0 15px;
                    h3{
                        font-family: $myFont;
                        font-weight: 600;
                        font-size: 28px;
                        color: #f9ab30;
                    }
                    span {
                        font-family: $myFont;
                        font-size: 14px;
                        color: $light-text;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

// section six commentary
.six{
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background-image: url(../images/23.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include section-pad();
    .container { 
        .heading {
        display: flex;
        justify-content: center;
        h2{
            font-family: $myFont;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.4;
            text-transform: capitalize;
            margin-bottom: 50px;
        }
    }
    .swiper{
        flex-wrap: wrap;
        width: 100%;
        padding: 16px 0;
        .swiper-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .swiper-slide{
                padding: 24px 20px;
                background-color: white;
                border-radius: 5px;
                p{
                    margin-bottom: 10px;
                    @include p-text()
                }
                .userdata {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    img{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    .username{
                        padding-left: 10px;
                        .name {
                            font-family: $myFont;
                            font-weight: 400;
                            font-size: 20px;
                            color: black;
                            line-height: 1.8;
                        }
                        span{
                            font-family: $myFont;
                            font-size: 16px;
                            font-weight: 400;
                            color: #cccccc;
                            line-height: 1/8;
                        }
                    }
                }
            }
        }
    }
}
}

// footer
footer {
    flex-wrap: wrap;
    background-image: url(../images/xfooter-bg.jpg.pagespeed.ic.ZMAo_83aSu.webp);
    background-size: cover;
    object-fit: none;
    background-repeat: no-repeat;
    padding: 112px 0;
    h2 {
        font-family:$myFont;
        margin-bottom: 40px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
    .content {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .vacation {
            width: 20%;
            p {
            @include p-text()
            }
            #social {
                margin-top: 10px;
                cursor: pointer;
                a {
                    i{
                        color: white;
                        font-size: 22px;
                        width: 46px;
                        height: 46px;
                        text-align: center;
                        padding-top: 12px;
                        background-color: #393F46;
                        border-radius: 50%;
                    }
                }
            }
        }
        .info {
            width: 20%;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-size: 16px;
                font-family: $myFont;
                font-weight: 400;
                color: #999999;
                margin-bottom: 10px;
                text-align: left;
            }
        }
        .exp {
            width: 20%;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-size: 16px;
                font-family: $myFont;
                font-weight: 400;
                color: #999999;
                margin-bottom: 10px;
                text-align: left;
            }
        }
        .question {
            width: 20%;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-size: 16px;
                font-family: $myFont;
                font-weight: 400;
                color: #999999;
                margin-bottom: 10px;
                text-align: left;
                i {
                    margin-right: 10px;
                }
            }
            p {
                font-size: 16px;
                font-family: $myFont;
                font-weight: 400;
                color: #999999;
                margin-bottom: 10px;
                text-align: left;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto; 
    }

    header{
        nav{
            position: relative;
            height: fit-content;
            transition: 0.4s;
            background-color: black;
            .container{
                width: 90%;
                .media-menu{
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 32px;
                    .menu{
                        cursor: pointer;
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        i{
                            font-size: 16px;
                            color: $light-text;
                            margin-right: 8px;
                        }
                        span{
                            font-family: $myFont;
                            color: $light-text;
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                    }
                }
                .navigation{
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-align: left;
                    .navbar{
                        display: none;
                        ul{
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin-bottom: 30px;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }

    .navbar.active{
        display: block !important;
    }

    nav.scroll{
        height: fit-content;
    }

}

@media screen and (max-width: 520px){
    header{
        nav{
            position: relative;
            height: fit-content;
            transition: 0.4s;
            background-color: black;
            .container{
                width: 90%;
                .media-menu{
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 32px;
                    .menu{
                        cursor: pointer;
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        i{
                            font-size: 16px;
                            color: $light-text;
                            margin-right: 8px;
                        }
                        span{
                            font-family: $myFont;
                            color: $light-text;
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                    }
                }
                .navigation{
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-align: left;
                    .navbar{
                        display: none;
                        ul{
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin-bottom: 30px;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }

    .navbar.active{
        display: block !important;
    }

    nav.scroll{
        height: fit-content;
    }

    .container {
        width: 73%;
        margin: 0 auto; 
    }
    // first intro
    .first {
        background-attachment: scroll;
        .content{
            .container{
                #intro{
                    h1{
                        font-size: 40px;
                    }
                }
            }
        }
    }

    // two about
    .two {
        .container{
            .about{
                width: 100%;
                flex-direction: column-reverse;
                #left{
                    width: 100%;
                    #uppertext{
                        width: 100%;
                        flex-direction: column;
                        .text{
                            width: 100%;
                        }
                    }
                    #bottomtext{
                        flex-direction: column;
                        .text{
                            width: 100%;
                        }
                    }
                }
                #right{
                    width: 100%;
                    margin-bottom: 35px;
                    h2{
                        font-size: 28px;
                    }
                }
            }
        }
    }

    // three-memorable safe
    .three{
        .container{
            flex-direction: column;
            .img{
                width: 100%;
                padding: unset;
            }
            .img-text{
                width: 100%;
                margin-top: 30px;
                padding: unset;
                .upper{
                    h2{
                        font-size: 28px;
                    }
                }
                .bottom{
                    flex-direction: column;
                    .number{
                        margin-bottom: 30px;
                        h3{
                            line-height: 2;
                        }
                    }
                }
            }
        }
    }

    // six - commentaries
    .six{
        .container{
            .heading{
                h2{
                    font-size: 28px;
                }
            }
        }
    }

    footer{
        .content{
            flex-direction: column;
            .vacation {
                width: 100%;
                margin-bottom: 30px;
            }
            .info {
                width: 100%;
                margin-bottom: 30px;
            }
            .exp{
                width: 100%;
                margin-bottom: 30px;
            }
            .question {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}