* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  height: 0;
  background-color: transparent;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .container .media-menu {
  display: none;
}

header nav .container .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .container .navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #33313b;
  padding: 20px;
  line-height: 1.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .container .navigation .logo a {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
}

header nav .container .navigation .logo span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header nav .container .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container .navigation ul li {
  padding-top: 30px;
}

header nav .container .navigation ul li .active {
  color: #f9ab30;
}

header nav .container .navigation ul li .odd {
  background-color: #f9ab30;
  padding-top: 18px;
  padding-bottom: 18px;
  padding: 18px, 13px;
  border-radius: 2px;
}

header nav .container .navigation ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

header nav .container .navigation ul li a:hover {
  color: #33313b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.scroll {
  z-index: 35;
  height: 80px;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.11);
}

nav.scroll .container .navigation .logo {
  padding: 18px;
}

nav.scroll .container .navigation .navbar ul li .link {
  color: black;
}

.first {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/ab.webp);
  background-size: cover;
  -o-object-fit: none;
     object-fit: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.first .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.036);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 68, 255, 0.121)), to(rgba(255, 0, 0, 0.127)));
  background-image: linear-gradient(to right, rgba(0, 68, 255, 0.121), rgba(255, 0, 0, 0.127));
  z-index: 1;
}

.first .content .container {
  position: absolute;
  text-align: center;
  left: 120px;
  z-index: 30;
  bottom: 75px;
}

.first .content .container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
}

.first .content .container .from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .content .container .from a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.first .content .container .from span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.seven {
  width: 100%;
  background-color: white;
  padding: 112px 0;
}

.seven .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seven .container .heading h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.seven .container .posts {
  width: 100%;
}

.seven .container .posts .cards-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.seven .container .posts .cards-top .post {
  width: 32%;
}

.seven .container .posts .cards-top .post .img {
  position: relative;
  width: 100%;
}

.seven .container .posts .cards-top .post .img img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seven .container .posts .cards-top .post .img .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 5px 15px;
  background: #f9ab30;
  border-radius: 0 30px 0 0;
}

.seven .container .posts .cards-top .post .img .date .day {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
}

.seven .container .posts .cards-top .post .img .date .small-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 8px;
}

.seven .container .posts .cards-top .post .description {
  width: 100%;
}

.seven .container .posts .cards-top .post .description h3 {
  margin: 16px 0;
}

.seven .container .posts .cards-top .post .description h3 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.seven .container .posts .cards-top .post .description h3 a:hover {
  color: #f9ab30;
}

.seven .container .posts .cards-top .post .description p {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
}

.seven .container .posts .cards-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seven .container .posts .cards-bottom .post {
  width: 32%;
}

.seven .container .posts .cards-bottom .post .img {
  position: relative;
  width: 100%;
}

.seven .container .posts .cards-bottom .post .img img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seven .container .posts .cards-bottom .post .img .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 5px 15px;
  background: #f9ab30;
  border-radius: 0 30px 0 0;
}

.seven .container .posts .cards-bottom .post .img .date .day {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
}

.seven .container .posts .cards-bottom .post .img .date .small-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 8px;
}

.seven .container .posts .cards-bottom .post .description {
  width: 100%;
}

.seven .container .posts .cards-bottom .post .description h3 {
  margin: 16px 0;
}

.seven .container .posts .cards-bottom .post .description h3 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  color: black;
}

.seven .container .posts .cards-bottom .post .description p {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
}

.seven .container .pagination {
  text-align: center;
}

.seven .container .pagination .active {
  color: white;
  background: #33313b;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}

.seven .container .pagination a {
  color: #000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.seven .container .pagination a:hover {
  color: white;
  background: #33313b;
}

footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../images/xfooter-bg.jpg.pagespeed.ic.ZMAo_83aSu.webp);
  background-size: cover;
  -o-object-fit: none;
     object-fit: none;
  background-repeat: no-repeat;
  padding: 112px 0;
}

footer h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

footer .content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .content .vacation {
  width: 20%;
}

footer .content .vacation p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
}

footer .content .vacation #social {
  margin-top: 10px;
  cursor: pointer;
}

footer .content .vacation #social a i {
  color: white;
  font-size: 22px;
  width: 46px;
  height: 46px;
  text-align: center;
  padding-top: 12px;
  background-color: #393F46;
  border-radius: 50%;
}

footer .content .info {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .content .info a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}

footer .content .exp {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .content .exp a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}

footer .content .question {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .content .question a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}

footer .content .question a i {
  margin-right: 10px;
}

footer .content .question p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}

footer .content .question p i {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  header nav {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: black;
  }
  header nav .container {
    width: 90%;
  }
  header nav .container .media-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 32px;
  }
  header nav .container .media-menu .menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .container .media-menu .menu i {
    font-size: 16px;
    color: #999999;
    margin-right: 8px;
  }
  header nav .container .media-menu .menu span {
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
  }
  header nav .container .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  header nav .container .navigation .navbar {
    display: none;
  }
  header nav .container .navigation .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .navbar.active {
    display: block !important;
  }
  nav.scroll {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 520px) {
  header nav {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: black;
  }
  header nav .container {
    width: 90%;
  }
  header nav .container .media-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 32px;
  }
  header nav .container .media-menu .menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .container .media-menu .menu i {
    font-size: 16px;
    color: #999999;
    margin-right: 8px;
  }
  header nav .container .media-menu .menu span {
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
  }
  header nav .container .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  header nav .container .navigation .navbar {
    display: none;
  }
  header nav .container .navigation .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .navbar.active {
    display: block !important;
  }
  nav.scroll {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container {
    width: 73%;
    margin: 0 auto;
  }
  .first {
    background-attachment: scroll;
  }
  .first .content .container #intro h1 {
    font-size: 40px;
  }
  .first .content .container #search {
    display: none;
  }
  .seven .container .heading h2 {
    font-size: 28px;
  }
  .seven .container .cards-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seven .container .cards-top .post {
    width: 100% !important;
  }
  .seven .container .cards-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seven .container .cards-bottom .post {
    width: 100% !important;
  }
  footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content .vacation {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .info {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .exp {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .question {
    width: 100%;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=blog.css.map */