@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(249, 172, 48, 0.6117647059);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}
.container {
  width: 1110px;
  margin: 0 auto;
}

header {
  flex-wrap: wrap;
  transition: 0.3s;
}
header nav {
  position: fixed;
  padding-top: 16px;
  z-index: 15;
  padding-bottom: 16px;
  align-items: center;
  background-color: #0c3c60;
  width: 100%;
  transition: 0.3s;
}
header nav .container .media-menu {
  display: none;
}
header nav .container .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
header nav .container .navigation .logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .container .navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav .container .navigation ul li {
  border-radius: 2px;
}
header nav .container .navigation ul li .odd {
  background-color: #0c3c60;
  padding-top: 18px;
  padding-bottom: 18px;
  padding: 18px, 13px;
}
header nav .container .navigation ul li a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
header nav .container .navigation ul li a:hover {
  color: #8abbdb;
  transition: 0.3s;
}

.intro {
  padding: 162px 0;
  height: 95vh;
}
.intro .container .intro-text .text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
.intro .container .intro-text .text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.intro .container .intro-text .text .intro-btn {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #0c3c60;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.intro .container .intro-text .text .intro-btn:hover {
  background-color: #1a659e;
}

.about {
  padding: 162px 0;
  width: 100%;
  background-color: #f9fafb;
}
.about .container .about-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about .container .about-content #left {
  width: 55%;
}
.about .container .about-content #left h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 24px;
}
.about .container .about-content #left p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 16px;
}
.about .container .about-content #left .second {
  margin-bottom: 30px;
}
.about .container .about-content #left a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 16px 24px;
  background-color: #0c3c60;
  border-radius: 40px;
}
.about .container .about-content #right {
  width: 40%;
}
.about .container .about-content #right img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  padding-bottom: 130px;
}

.certificates {
  width: 100%;
  background-color: white;
  padding-bottom: 162px;
}
.certificates .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.certificates .container .heading {
  display: flex;
  justify-content: center;
}
.certificates .container .heading h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.certificates .container .certificates-btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.certificates .container .certificates-btn a {
  padding: 10px 20px;
  background-color: #0c3c60;
  border-radius: 40px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}
.certificates .container .certificates-btn a:hover {
  background-color: #1a659e;
}
.certificates .container .cards {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.certificates .container .card {
  width: 23%;
  height: 320px;
  position: relative;
}
.certificates .container .card a {
  display: block;
  text-decoration: none;
}
.certificates .container .card a img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  cursor: pointer;
}
.certificates .container .card a span {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
.certificates .container .card a span:hover {
  background-color: #0c3c60;
  color: white;
  padding: 4px 15px;
  border-radius: 5px;
}

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.fullscreen-overlay.active {
  display: flex;
}
.fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
.fullscreen-overlay .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.fullscreen-overlay .close-button:hover {
  color: #0c3c60;
}

.partners {
  flex-wrap: wrap;
  width: 100%;
  padding: 162px 0;
}
.partners .container .heading {
  display: flex;
  justify-content: center;
}
.partners .container .heading h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.partners .container .partners {
  flex-wrap: wrap;
  width: 100%;
}
.partners .container .partners .swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners .container .partners .swiper-wrapper .swiper-slide {
  height: 80px;
}
.partners .container .partners .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.products-section {
  width: 100%;
  background-color: white;
  padding: 162px 0;
}
.products-section .container .heading {
  display: flex;
  justify-content: center;
}
.products-section .container .heading h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.products-section .container .products {
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}
.products-section .container .products h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
.products-section .container .products .product-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 22px;
}
.products-section .container .products .product-card {
  padding: 20px 10px;
  width: 32%;
}
.products-section .container .products .product-card a {
  position: relative;
  width: 100%;
}
.products-section .container .products .product-card a img {
  width: 100%;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products-section .container .products .product-card .info {
  width: 100%;
}
.products-section .container .products .product-card .info .excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-section .container .products .product-card .info .see-more-btn {
  display: inline-block;
  background: #0056b3;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  margin-top: auto;
}
.products-section .container .products .product-card .info .see-more-btn:hover {
  background: #1c6bc0;
}
.products-section .container .products .product-card .info h3 {
  margin: 16px 0;
}
.products-section .container .products .product-card .info h3 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}
.products-section .container .products .product-card .info h3 a:hover {
  color: #0c3c60;
}
.products-section .container .products .product-card .info p {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
}
.products-section .container .pagination {
  text-align: center;
}
.products-section .container .pagination .active {
  color: white;
  background: #33313b;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.products-section .container .pagination a {
  color: #000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  transition: 0.5s;
}
.products-section .container .pagination a:hover {
  color: white;
  background: #33313b;
}

main {
  padding-block: clamp(3rem, 8vw, 6rem);
  background: #f8f9fa;
  min-height: 100vh;
}

.container-product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 50px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.container-product #conditions {
  margin: 1rem 0;
  color: #333;
  line-height: 1.6;
}
.container-product h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
.container-product #conditions li {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
.container-product #conditions li:before {
  content: "•"; /* Real bullet */
  color: #007bff; /* Blue bullet */
  font-weight: bold;
  width: 1.5rem;
  text-align: center;
  margin-right: 5px;
}
.container-product #title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: start;
}
.container-product #img {
  width: 50%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.container-product #img:hover {
  transform: scale(1.02);
}
.container-product #excerpt {
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.95rem, 2.2vw, 1.1rem);
  line-height: 1.7;
  color: #444;
  margin: 1.5rem 0;
  padding: 1rem;
  background: #f5f7fa;
  border-left: 4px solid #007bff;
  border-radius: 0 8px 8px 0;
}

@media (max-width: 768px) {
  #title {
    text-align: center;
  }
  #excerpt {
    padding: 0.8rem;
    font-size: 1rem;
  }
  #conditions.conditions {
    padding-left: 1.5rem;
    font-size: 0.95rem;
  }
}
footer {
  flex-wrap: wrap;
  background-color: #333;
  padding: 112px 0;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
footer .content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer .content .vacation {
  width: 20%;
}
footer .content .vacation p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.8;
}
footer .content .vacation #social {
  margin-top: 10px;
  cursor: pointer;
}
footer .content .vacation #social a i {
  color: white;
  font-size: 22px;
  width: 46px;
  height: 46px;
  text-align: center;
  padding-top: 12px;
  background-color: #393f46;
  border-radius: 50%;
}
footer .content .info {
  width: 20%;
  display: flex;
  flex-direction: column;
}
footer .content .info a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}
footer .content .exp {
  width: 20%;
  display: flex;
  flex-direction: column;
}
footer .content .exp a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}
footer .content .question {
  width: 20%;
  display: flex;
  flex-direction: column;
}
footer .content .question a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}
footer .content .question a i {
  margin-right: 10px;
}
footer .content .question p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 10px;
  text-align: left;
}
footer .content .question p i {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  header nav {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    transition: 0.4s;
    background-color: black;
  }
  header nav .container {
    width: 90%;
  }
  header nav .container .media-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 32px;
  }
  header nav .container .media-menu .menu {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header nav .container .media-menu .menu i {
    font-size: 16px;
    color: #999999;
    margin-right: 8px;
  }
  header nav .container .media-menu .menu span {
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
  }
  header nav .container .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  header nav .container .navigation .navbar {
    display: none;
  }
  header nav .container .navigation .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    transition: 0.4s;
  }
  .navbar.active {
    display: block !important;
  }
  nav.scroll {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 520px) {
  header nav {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    transition: 0.4s;
    background-color: black;
  }
  header nav .container {
    width: 90%;
  }
  header nav .container .media-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 32px;
  }
  header nav .container .media-menu .menu {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header nav .container .media-menu .menu i {
    font-size: 16px;
    color: #999999;
    margin-right: 8px;
  }
  header nav .container .media-menu .menu span {
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 16px;
    text-transform: uppercase;
  }
  header nav .container .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  header nav .container .navigation .navbar {
    display: none;
  }
  header nav .container .navigation .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    transition: 0.4s;
  }
  .navbar.active {
    display: block !important;
  }
  nav.scroll {
    height: -moz-fit-content;
    height: fit-content;
  }
  .container {
    width: 73%;
    margin: 0 auto;
  }
  .first {
    background-attachment: scroll;
  }
  .first .content .container #intro h1 {
    font-size: 40px;
  }
  .first .content .container #search {
    display: none;
  }
  .search-section {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  .about .container .about-content {
    width: 100%;
    flex-direction: column-reverse;
  }
  .about .container .about-content #left {
    width: 100%;
  }
  .about .container .about-content #left #uppertext {
    width: 100%;
    flex-direction: column;
  }
  .about .container .about-content #left #uppertext .text {
    width: 100%;
  }
  .about .container .about-content #left #bottomtext {
    flex-direction: column;
  }
  .about .container .about-content #left #bottomtext .text {
    width: 100%;
  }
  .about .container .about-content #right {
    width: 100%;
    margin-bottom: 35px;
  }
  .about .container .about-content #right h2 {
    font-size: 28px;
  }
  .three .container {
    flex-direction: column;
  }
  .three .container .img {
    width: 100%;
    padding: unset;
  }
  .three .container .img-text {
    width: 100%;
    margin-top: 30px;
    padding: unset;
  }
  .three .container .img-text .upper h2 {
    font-size: 28px;
  }
  .three .container .img-text .bottom {
    flex-direction: column;
  }
  .three .container .img-text .bottom .number {
    margin-bottom: 30px;
  }
  .three .container .img-text .bottom .number h3 {
    line-height: 2;
  }
  .certificates .container .heading h2 {
    font-size: 28px;
  }
  .certificates .container .cards {
    flex-direction: column;
  }
  .certificates .container .cards .card {
    width: 100%;
    margin-bottom: 15px;
  }
  .five .container .heading h2 {
    font-size: 28px;
  }
  .five .container .cards .cards-top {
    flex-direction: column;
  }
  .five .container .cards .cards-top .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .five .container .cards .cards-bottom {
    margin: unset;
    flex-direction: column;
  }
  .five .container .cards .cards-bottom .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .six .container .heading h2 {
    font-size: 28px;
  }
  .seven .container .heading h2 {
    font-size: 28px;
  }
  .seven .container .products {
    flex-direction: column;
  }
  .seven .container .products .post {
    width: 100%;
  }
  footer .content {
    flex-direction: column;
  }
  footer .content .vacation {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .info {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .exp {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .question {
    width: 100%;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=home.css.map */